.banner {
  height: 50px;
  width: 100%;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 2;
  opacity: 0.8;
  border-bottom: 1px solid white;
  color: white;
  text-align: center;
  transition: 0.3s;

    h1 {
      top: 50%;
    }
}

