.banner {
  height: 50px;
  width: 100%;
  background-color: #08090a;
  position: sticky;
  top: 0;
  z-index: 2;
  opacity: 0.8;
  // border-bottom: 1px solid white;
  // transition: 0.3s;

  p {
    color: white;
    text-align: center;
    letter-spacing: 10px;

    @media screen and (max-width: 400px) {
      #devel {
        color: #08090a;
      }
    }
  }

}

