#black {
  color: black;
  background-color: black;
}


.banner {
  height: 50px;
  width: 100%;
  background-color: #08090a;
  position: sticky;
  top: 0;
  z-index: 2;
  opacity: 0.85;
  // border-bottom: 1px solid white;
  // transition: 0.3s;


  #nameAndTitle {
    color: #08090a;
    text-align: center;
    letter-spacing: 10px;

    @media screen and (max-width: 400px) {
      #devel {
        color: #08090a;
        text-shadow: 0.5px 0.5px 1px white;
      }

      #oper {
        text-shadow: 0.5px 0.5px 1px black;
      }
    }
  }

/* @media min width 401 is not on the same 
level as max width 400 because .nameAndTitle
is <p> itself while <span>s devel and oper are 
direct children of the <p>  */

  @media screen and (min-width: 401px) {
    #nameAndTitle {
      padding-top: 13.5px;
      font-size: small;
    }

  }

}




// this is the lightbulb:
#bi {
  position: absolute;
  color: #f4faff;
  z-index: 5000;
  text-shadow: 2px 2px 5px black;
  right: 2%;
  top: 10px;
  height: 10px;
  width: 10px;
}