.banner {
  height: 50px;
  width: 100%;
  background-color: #08090a;
  position: sticky;
  top: 0;
  z-index: 2;
  opacity: 0.8;
  // border-bottom: 1px solid white;
  // transition: 0.3s;


  p {
    color: white;
    text-align: center;
    letter-spacing: 10px;

    @media screen and (max-width: 400px) {
      #devel {
        color: #08090a;
        text-shadow: 0.5px 0.5px 1px white;
      }

      #oper {
        text-shadow: 0.5px 0.5px 1px black;
      }
    }
  }

/* @media min width 401 is not on the same 
level as max width 400 because .nameAndTitle
is <p> itself while <span>s devel and oper are 
direct children of the <p>  */

  @media screen and (min-width: 401px) {
    .nameAndTitle {
      padding-top: 11px;
    }
  }

}