// Specific CSS for your home-page
body {
  background-color: #08090a;
  color: #08090a;
  font-family: 'Raleway', sans-serif;
  cursor: default;
}

// to prevent the hello to be highlighted when switching the lights
.disable-select {
  user-select: none; /* supported by Chrome and Opera */
 -webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* Internet Explorer/Edge */
}

#no-underline {
  text-decoration: none;
}


.section {
  width: 100%;
}


// this is the lightbulb:
#bi {
  position: absolute;
  right: 30%;
  top: 30%;
  color: #f4faff;
  z-index: 5000;
  text-shadow: 2px 2px 5px black;
  height: 30px;
  width: 30px;
  transform: rotateY(0deg) rotate(180deg); /* needs Y at 0 deg to behave properly*/
  cursor: pointer;
  margin-left: -4px;
}

.icon-wrapper {
  flex-direction: row;
  margin-bottom: 20px;
  text-align: center;
}


.icon-github {
  color: white;
  margin: 10px;
}

.bi-link {
  color: white;
  margin: 10px;
}


#projects {
  // The commented out line would be needed for lightbulb effect
  background-color: #08090a;
  // background-color: #f4faff;
  color: #08090a;
  height: 50px;
  font-size: x-large;
  text-align: center;
  letter-spacing:20px;
  p {
    padding-top: 6px;
  }

}