// Specific CSS for your home-page
body {
  background-color: #08090a;
  color: #08090a;
  font-family: 'Raleway', sans-serif;
  cursor: default;
}

.colorWhite {
  color: #f4faff;
}

.colorBlack {
  color: #08090a;
}

.displayNone {
  display: none;
}

.displayOn {
 display: block;
}

.visibilityHidden {
  visibility: hidden !important;
}

.visibilityVisible {
  visibility: visible !important;
}

.textAlignLeft {
  text-align: left;
}

.textAlignRight {
  text-align: right;
}

.textShadowBlack {
  text-shadow: -1px 0px 8px black;
}

.textShadowWhite {
  text-shadow: -1px 0px 8px #f4faff;
}

.japaneseWriting {
  writing-mode: vertical-lr;
  text-orientation: upright;
}

#no-underline {
  text-decoration: none;
}


// to prevent the hello to be highlighted when switching the lights
.disable-select {
  user-select: none; /* supported by Chrome and Opera */
 -webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* Internet Explorer/Edge */
}

// .marginRight {
//   margin-right: 50px;
// }








.section {
  width: 100%;
}


// this is the lightbulb:
#bi {
  color: #f4faff;
  z-index: 5000;
  text-shadow: 2px 2px 5px black;
  height: 30px;
  width: 30px;
  transform: rotateY(0deg) rotate(180deg); /* needs Y at 0 deg to behave properly*/
  cursor: pointer;
  margin-left: 15px;
}

.icon-wrapper {
  flex-direction: row;
  margin-bottom: 20px;
  text-align: center;
}

.icons {
  color: white;
  z-index: 5000;
}


.icon-github {
  color: white;
  margin: 10px;
}

.bi-link {
  color: white;
  margin: 10px;
}


#projects {
  margin-top: 200px;
  z-index: 2;
  // The commented out line would be needed for lightbulb effect
  background-color: #08090a;
  // background-color: #f4faff;
  color: #08090a;
  height: 50px;
  font-size: x-large;
  text-align: center;
  letter-spacing:20px;
  transition: 0.65s;
  p {
    padding-top: 6px;
  }

}

.increase-width {
  width: 80%;
}

#projects:hover {
  background-color: #f4faff;
  color: #08090a;
}

