// Specific CSS for your home-page
body {
  background-color: rgb(12, 12, 1);
  font-family: josefin sans;
}

.section {
  height: 550px;
  width: 100%;
}


#one {
  background-color: rgb(7, 10, 12);
  color: rgb(245, 239, 239);  
}

.d-flex {
  height: 550px;

  .left {
    background-color: #f4faff;
    color: black;
    width: 50%;

    p {
      position: relative;
      top: 50%;
      text-align: right;
    }
  }
  
  .right {
    background-color: #08090a;
    color: white;
    width: 50%;

    p {
      position: relative;
      top: 50%;
      text-align: left;      
    }
  }
}



#two {
  background-color: rgb(202, 199, 199);
}

#three {
  // background-color: #59A5D8;
  backgroundcolor: black;
  border-bottom: 0.5px solid white;

  h2 {
    color: white;
    text-align: left;
    text-orientation: upright;
    writing-mode: vertical-lr;
    text-shadow: 1px 1px black;
    font-size: larger;
    z-index: 2;
  }

  video {
    height: 60%;
    width: 80%;
    z-index: 2;
    position: absolute;
    top: 1240px;
    left: 11.8%;
    border-radius: 25px;
  }

  img {
    width: 50%;
    height: 65%;
    z-index: 1;
  }
}


#four {
  border-top: 0.5px solid white;
  color: white;
}