// Specific CSS for your home-page
body {
  background-color: #08090a;
  color: #08090a;
  font-family: 'Raleway', sans-serif;
  cursor: default;
}





.section {
  width: 100%;
}





.one {
  background-color: #08090a;
  color: #f4faff;  

  p {
    // text-shadow: 1px 1px #f4faff;
    font-size: xx-large;
    letter-spacing: 9px;
    margin-right: -3px;
  }
}


// this is the lightbulb:
#bi {
  position: absolute;
  color: #f4faff;
  z-index: 5000;
  // text-shadow: 2px 2px 5px black;
  left: 25%;
  top: 60%;
  height: 30px;
  width: 30px;
  transform: rotateY(0deg) rotate(180deg); /* needs Y at 0 deg to behave properly*/
}




.black-and-white-container {
  height: 620px;

  #left {
    // The commented out line would be needed for lightbulb effect
    // background-color: #08090a;
    background-color: #f4faff;
    color: #08090a;
    width: 50%;
  }

  #right {
    // The commented out line would be needed for lightbulb effect
    // color: #08090a;
    background-color: #08090a;
    color: #f4faff;
    width: 50%;
  }


}
  




#greeting {
  #left {
    p {
      position: relative;
      top: 45%;
      text-align: right;
      padding-right: 6px;
    }
  }

  #right {
    .llo {
      position: relative;
      top: 45%;
      text-align: left;
      margin-left: -4.5px;
      #l {
        text-shadow: -1px 0px 8px black;
      }
    }
  }
}



#projects {
  // The commented out line would be needed for lightbulb effect
  // background-color: #08090a;
  background-color: #f4faff;
  color: #08090a;
  height: 50px;
  font-size: x-large;
  text-align: center;
  letter-spacing:20px;

  p {
    padding-top: 6px;
  }

}




#two {
  // The commented out line would be needed for lightbulb effect
  // background-color: #08090a;
  background-color: #f4faff;
}

#three {
  // background-color: #59A5D8;
  background-color: #08090a;
  border-bottom: 0.5px solid #f4faff;

  .videoWrapper {
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
  }

  h2 {
    color: #f4faff;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    // text-orientation: upright;
    // writing-mode: vertical-lr;
    text-shadow: 1px 1px black;
    font-size: larger;
    z-index: 2;
    margin-top: 20px;
    transition: 0.5s;
    font-size: large;
    letter-spacing: 20px;
  }

  h2:hover {
    font-weight: none;
    color: #59A5D8;
    text-shadow: 1.2px 1.2px #FB9C0F;
    font-size: x-large;
  }

  #bavarian:hover {
    text-decoration: none;
  }

  video {
    margin: 0 auto;
    height: 100%;
    width: 80%;
    z-index: 2;
    left: 10%;
    border-radius: 25px;
    margin-bottom: 5%;
  }

  // img {
  //   width: 50%;
  //   height: 65%;
  //   z-index: 1;
  // }
}




#four {
  border-top: 0.5px solid #f4faff;
  color: #f4faff;

  h2 {
    color: #f4faff;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    // text-orientation: upright;
    // writing-mode: vertical-lr;
    text-shadow: 1px 1px black;
    font-size: larger;
    z-index: 2;
    margin-top: 20px;
    transition: 0.5s;
    font-size: large;
    letter-spacing: 18px;
  }

  h2:hover {
    font-weight: none;
    color: rgba(126, 107, 143,0.66);
    text-shadow: 1.2px 1.2px white;
    font-size: x-large;
    font-family: 'Sonsie One', cursive;
    letter-spacing: normal;
    text-transform: lowercase;
  }

  #finport:hover {
    text-decoration: none;
  }
}

.finport-image {
  width: 180px;
  height: 400px;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
  border: 3px solid black;
  border-radius: 25px;
  box-shadow: 20px 20px 20px rgba(0,0,0,0.25), 20px 20px 20px rgba(0,0,0,0.22);
  transition: 0.5s;
  z-index: 0;
}