// Specific CSS for your home-page
body {
  background-color: #08090a;
  font-family: 'Raleway', sans-serif;
  cursor: default;
}





.section {
  height: 550px;
  width: 100%;
}





#one {
  background-color: #08090a;
  color: #f4faff;  

  p {
    // text-shadow: 1px 1px #f4faff;
    font-size: xx-large;
    letter-spacing: 9px;
    margin-right: -3px;
  }
}





.d-flex {
  height: 550px;

  .left {
    background-color: #f4faff;
    color: black;
    width: 50%;

    p {
      position: relative;
      top: 44%;
      text-align: right;
      text-shadow: -5px -4px 6px black;
    }
  }
  
  .right {
    background-color: #08090a;
    color: #f4faff;
    width: 50%;

    .llo {
      position: relative;
      top: 45%;
      text-align: left;
      margin-left: -6px;
      text-shadow: 4px 4px 7px white;
      #l {
        font-style: italic;
      }
    }

  }
}




.someText {
  background-color: #f4faff;
  color: #08090a;
  height: 50px;
  font-size: x-large;
  text-align: center;
  letter-spacing:20px;
}




#two {
  background-color: #f4faff;
}

#three {
  // background-color: #59A5D8;
  background-color: black;
  border-bottom: 0.5px solid #f4faff;

  .videoWrapper {
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }

  h2 {
    color: #f4faff;
    text-align: center;
    // text-orientation: upright;
    // writing-mode: vertical-lr;
    text-shadow: 1px 1px black;
    font-size: larger;
    z-index: 2;
    margin-top: 20%;
    transition: 0.5s;
    font-weight: bold;
  }

  h2:hover {
    font-weight: none;
    color: #59A5D8;
    text-shadow: 1.2px 1.2px #FB9C0F;
  }

  .bavarian:hover {
    text-decoration: none;
  }

  video {
    margin: 0 auto;
    height: 100%;
    width: 80%;
    z-index: 2;
    left: 10%;
    border-radius: 25px;
    margin-bottom: 5%;
  }

  img {
    width: 50%;
    height: 65%;
    z-index: 1;
  }
}




#four {
  border-top: 0.5px solid #f4faff;
  color: #f4faff;
}