<div class="banner tenPixelLetterSpacing" id="banner">
  <p class="disable-select" id="nameAndTitle">MAURICE SATTRASAI - FULL STACK WEB <span id="devel">DEVEL</span><span id="oper">OPER</span><i class="bi bi-lightbulb" id="bi"></i></p>
</div>