<div class="section" id="bavarian-section">
  <div class="videoWrapper d-flex">
    <%= link_to "https://www.bayerisch.xyz", target: :_blank do %>
      <h2 class="bayerisch">BAYERISCH!</h2>
    <% end %>
    <div class="dflex icon-wrapper">
      <a class="icons" href="https://github.com/maunito/foodblog" target="_blank"><i class="bi bi-github icon-github"></i></a>
      <!-- <%= link_to("https://github.com/maunito/foodblog") do %>
        <i class="bi bi-github icon-github" target="_blank"></i>
      <% end %> -->
      <a class="icons" href="https://www.bayerisch.xyz" target="_blank"><i class="bi bi-link"></i></a>
    </div>
    <%= video_tag "foodblog.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "video", id: "video" %>
  </div>
</div>