<div class="section" id="bavarian-section">
  <div class="videoWrapper d-flex">
    <h2>BAYERISCH!</h2>
    <div class="dflex icon-wrapper">
      <a class="icons" href="https://github.com/maunito/foodblog" target="_blank"><i class="bi bi-github icon-github"></i></a>
      <a class="icons" href="https://www.bayerisch.xyz" target="_blank"><i class="bi bi-link"></i></a>
    </div>
    <%= video_tag "foodblog.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "video" %>
  </div>
</div>