<div class="cvContainer d-flex">
  <div class="profileImageContainer">
    <%= image_tag "profileImage", style: 'height:300px;width:195px;border-radius:5px;'%>
  </div>
  <div class="profileDescription">
  </div>
</div>