<div class="section first-section">
  
  <div class="d-flex black-and-white-container">
    <div id="left">
      <p class="noselect" id="leftText">M</p>
    </div>
    <div id="right">
      <p class="noselect" id="rightText">S</p>
    </div>
  </div>
  <div class="teaserContainer">
    <p class="teaser"><span class="colorBlack" id="looking">looking</span> <span class="colorBlack" id="for">for</span> <span class="colorBlack" id="a">a</span> <span class="colorBlack" id="webDeveloper">web developer</span><span class="colorBlack" id="questionmark">?</span></p>
  </div>
  <div class="displayNone" id="contact">
    <p>maurice.sattrasai</p>
    <p>@hotmail.com</p>
    <p>+49 176 8071 9449</p>
  </div>
</div>