<div class="section first-section">
  <div class="d-flex black-and-white-container">
    <div id="left">
      <p class="noselect" id="he">HE</p>
    </div>
    <div id="right">
      <div class="llo disable-select" id="llo">
        <p class="textShadow" id="l">L</p>
        <p id="lo">LO</p>
      </div>
      
    </div>
  </div>
</div>