<div class="section first-section">
  <div class="d-flex black-and-white-container">
    <div id="left">
      <p class="noselect" id="leftText">H</p>
    </div>
    <div id="right">
      <p class="noselect" id="rightText">!</p>
    </div>
  </div>
</div>