<div class="section first-section">
  <div class="d-flex black-and-white-container" id="greeting">
    <div id="left">
      <p class="noselect" id="he">HE</p>
    </div>
    <div id="right">
      <p class="llo disable-select"><span id="l">L</span><span id="lo">LO</span></p>
    </div>
  </div>
</div>