<div class="section" id="one">
  <h2>1.Section</h2>
</div>

<div class="section" id="two">
  <h2>2.Section</h2>
</div>

<div class="section" id="three">
  <h2>3.Section</h2>
</div>

<div class="section" id="four">
  <h2>4.Section</h2>
</div>