
<div class="firstSection">

  <marquee id="nomirror" scrollamount="18" direction="up" height="100%" width="100%" behavior="slide" >
    <div class="container1">
      <video width="100%" loop muted autoplay id="vid">
        <source src="/app/assets/images/aDdW0RZ_460svav1.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <div class="name-and-title" id="mau">
        <h1>MAU</h1>
      </div>
      <div class="name-and-title" id="satt">
        <h1>SATT</h1>
      </div>
      <div class="name-and-title" id="full">
        <h1>FULL</h1>
      </div>
      <div class="name-and-title" id="web">
        <h1>WEB</h1>
      </div>
      <div class="name-and-title" id="dev">
        <h1>DEV</h1>
      </div>

    </div>
  </marquee>
  
  <marquee scrollamount="18" direction="down" height="100%" width="100%" behavior="slide">
    <div class="container1" id="mirror">
      <video width="100%" loop muted autoplay id="vid">
        <source src="images/aQdZDMr_460svvp9.webm" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <div class="name-and-title" id="rice">
        <h1>RICE</h1>
      </div>
      <div class="name-and-title" id="rasai">
        <h1>RASAI</h1>
      </div>
      <div class="name-and-title" id="stack">
        <h1>STACK</h1>
      </div>
      <div class="name-and-title" id="eloper">
        <h1>ELOPER</h1>
      </div>
    </div>
  </marquee>
</div>

  <!-- <div class="container-fluid cards">
  <div class="row">
    <div class="col-sm">
      <div class="card" id="white-shadow">
        <img class="card-img-top" src="images/cv_screenshot.png" alt="">
        <div class="card-body">
          <h5 class="card-title">CV</h5>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <img class="card-img-top" src="images/projects.png" alt="">
        <div class="card-body">
          <h5 class="card-title">Projects</h5>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" id="baby-blue-shadow">
        <img class="card-img-top" src="images/education.jpeg" alt="">
        <div class="card-body">
          <h5 class="card-title">Education</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="card" id="brown-shadow">
        <img class="card-img-top" src="images/contact2.png" alt="">
        <div class="card-body">
          <h5 class="card-title">Contact</h5>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" id="motivation-shadow">
        <img class="card-img-top" src="images/motivation.jpeg" alt="">
        <div class="card-body">
          <h5 class="card-title">Motivation</h5>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" id="beige-shadow">
        <img class="card-img-top" src="images/food.jpeg" alt="">
        <div class="card-body">
          <h5 class="card-title">Food</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="card" id="dark-blue-shadow">
        <img class="card-img-top" src="images/level-up-neon-schild_118419-1291.jpeg" alt="">
        <div class="card-body">
          <h5 class="card-title">Experience</h5>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" id="dark-grey-shadow">
        <img class="card-img-top" src="images/hobbies.png" alt="">
        <div class="card-body">
          <h5 class="card-title">Interests</h5>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" id="turtle-green-shadow">
        <img class="card-img-top" src="images/blogs.jpeg" alt="">
        <div class="card-body">
          <h5 class="card-title">Blogs</h5>
        </div>
      </div>
    </div>
  </div>
</div> -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script src="lebenslauf.js" async defer></script>