<div class="section" id="one">
  <div class="d-flex">
    <div class="left">
      <p>HE</p>
    </div>
    <div class="right">
      <p>LLO</p>
    </div>
  </div>
</div>

<div class="section" id="two">
  <div class="d-flex">
    <p>hallo</p>
  </div>
</div>

<div class="section" id="three">
  <!-- <h2>BAVARIAN FOODBLOG</h2> -->
  <%= video_tag "foodblog", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
</div>

<div class="section" id="four">
</div>