<div class="section one">
  <div class="d-flex black-and-white-container" id="greeting">
    <div id="left">
      <p class="noselect" id="he">HE</p>
    </div>
    <div id="right">
      <p class="llo"><span id="l">L</span>LO</p>
    </div>
  </div>
  <!-- <i class="bi bi-lightbulb" id="bi"></i> -->
</div>

<div id="projects">
  <p>PROJECTS</p>
</div>

<div class="section" id="two">
  <div class="d-flex black-and-white-container">
    <div class="left">
    </div>
    <div class="right">
    </div>
  </div>
</div>

<div class="section" id="three">
  <div class="videoWrapper d-flex">
    <%= link_to "http://www.bayerisch.xyz", target: :_blank, id: "bavarian"  do %>
      <h2>BAVARIAN FOODBLOG</h2>
    <% end %>
    <%= video_tag "foodblog.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "video" %>
  </div>
</div>

<div class="section" id="four">



</div>