  <div id="rahmen">
    <div id="kopf"></div>
    <div id="rumpf"></div>
    <div id="armLinks"></div>
    <div id="armRechts"></div>
    <div id="beinLinks"s></div>
    <div id="beinRechts"></div>
    <div id="schnur" style="top:188px; "></div>
    <div id="rinne" style="top:280px;">
      <div id="kugel" style="margin-top:0px;"></div>
    </div>
  </div>