
#bavarian-section {
  // background-color: #59A5D8;
  background-color: #08090a;
  border-bottom: 0.5px solid #f4faff;

  .videoWrapper {
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
    transition: 0.65s;
  }

  .videoWrapper:hover {
    h2 {
      text-shadow: 1px 1px black;
    }
  }


  h2 {
    color: #f4faff;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    // text-orientation: upright;
    // writing-mode: vertical-lr;
    text-shadow: 1px 1px black;
    font-size: larger;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: 0.5s;
    font-size: large;
    letter-spacing: 20px;
  }

  

  .video {
    margin: 0 auto;
    height: 100%;
    width: 80%;
    z-index: 2;
    left: 10%;
    border-radius: 25px;
    margin-bottom: 5%;
  }

}

#bavarian-section:hover {
  h2 {
    font-weight: none;
    color: #59A5D8;
    text-shadow: 1.2px 1.2px #FB9C0F;
    font-size: x-large;
  }
}