
#finport-section {
  border-top: 0.5px solid #f4faff;
  color: #f4faff;
  z-index: 3;
  transition: 0.65s;

  .untransformed-header {
    color: #f4faff;
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
    text-decoration: none !important;
    // text-orientation: upright;
    // writing-mode: vertical-lr;
    text-shadow: 1px 1px black;
    font-size: larger;
    z-index: 2;
    font-size: large;
    letter-spacing: 18px;
  }

  .untransformed-header:hover {
    text-decoration: none !important;
    font-weight: none;
    color: rgba(126, 107, 143,0.66);
    text-shadow: 1.2px 1.2px white;
    font-size: 25px;
    font-family: 'Sonsie One', cursive;
    letter-spacing: normal;
    text-transform: lowercase;
  }

  .neutral {
    // general style for finport logo 
    // text that does never change
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: 0.5s;
  }

}

a {
  text-decoration: none !important;
}



.transformed-header {
  text-decoration: none !important;
  font-weight: none;
  color: rgba(126, 107, 143,0.66);
  text-shadow: 1.2px 1.2px white;
  font-size: 25px;
  font-family: 'Sonsie One', cursive;
  letter-spacing: normal;
  text-transform: lowercase;
}



.transformed-header:hover {
  font-size: 30px;
}


.finport-image-container {
  width: 195px;
  height: 450px;
  margin: 0 auto;
  margin-bottom: 5%;
  border-radius: 25px;
  box-shadow: 20px 20px 20px rgba(0,0,0,0.25), 20px 20px 20px rgba(0,0,0,0.22);
  transition: 0.65s;
  z-index: 0;
  p {
    text-align: center;
  }
}


.image-style-normal {
  height: 400px;
  width: 195px;
}

