
.first-section {
  background-color: #08090a;
  color: #f4faff; 
  height: 540px; 
  z-index: 2;

  p {
    // text-shadow: 1px 1px #f4faff;
    font-size: xx-large;
    letter-spacing: 9px;
    // margin-right: -3px;
  }
}


.teaser {
  //looking for a web developer text
}

.teaserContainer {
  text-align: center;
  position: relative;
  top: -15%;
  z-index: 0;
}




.black-and-white-container {
  height: 480px;

  #left {
    // The commented out line would be needed for lightbulb effect
    background-color: #08090a;
    // background-color: #f4faff;
    color: #f4faff;
    width: 50%;
    text-align: center;
    #leftText {
      z-index: 5;
      position: relative;
      top: 50%;
      text-align: right;
      font-size: 100px;
    }
  }

  #right {
    // The commented out line would be needed for lightbulb effect
    color: #f4faff;
    background-color: #08090a;
    width: 50%;
    text-align: center;;
    #rightText {
      position: relative;
      top: 60%;
      text-align: left;
      padding-left: 2%;
      background-color: #08090a;
      z-index: 5;
    }
  }

}



#contact {
  text-align: center;
  
  text-shadow: 0.5px 0.5px 1px black;
  p {
    font-size: large;
  }
}

@media screen and (max-width: 400px) {
  #contact {
    p {
      font-size: smaller;
    }
  }
}



  

// #l {
//   text-align: left;
//   position: absolute;
//   left: -0.3%;
// }

