
.first-section {
  background-color: #08090a;
  color: #f4faff;  

  p {
    // text-shadow: 1px 1px #f4faff;
    font-size: xx-large;
    letter-spacing: 9px;
    // margin-right: -3px;
  }
}


.black-and-white-container {
  height: 620px;

  #left {
    // The commented out line would be needed for lightbulb effect
    background-color: #08090a;
    // background-color: #f4faff;
    color: #f4faff;
    width: 50%;
    text-align: center;
    #leftText {
      position: relative;
      top: 45%;
      text-align: right;
    }
  }

  #right {
    // The commented out line would be needed for lightbulb effect
    color: #f4faff;
    background-color: #08090a;
    width: 50%;
    text-align: center;;
    #rightText {
      position: relative;
      top: 45%;
      text-align: left;
      padding-left: 2%;
    }
  }


}



  

#l {
  text-align: left;
  position: absolute;
  left: -0.3%;
}

